{% extends 'base.html' %}
{% block main %}
{% load static %}

<!-- Page Header Start -->
<div class="container-fluid page-header">
    <h1 class="display-3 text-uppercase text-white mb-3">About</h1>
    <div class="d-inline-flex text-white">
        <h6 class="text-uppercase m-0"><a class="text-white" href="{% url 'index' %}">Home</a></h6>
        <h6 class="text-body m-0 px-3">/</h6>
        <h6 class="text-uppercase text-body m-0">About</h6>
    </div>
</div>
<!-- Page Header Start -->


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <h1 class="display-4 text-uppercase text-center mb-5">Welcome To <span
                class="text-primary">Car Rental Portal</span>
        </h1>
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <img class="w-75 mb-4" src="{% static 'img/about.png' %}" alt="">
                <p>This Car Rental Portal Management System is designed for a web services provider where the user can
                    visit and book their required Car online and select their Car, duration option etc. This system include a complete
                    Car Rental Portal management system so that the admin can easily add, update, or delete any car,
                    check users detail etc. This project mainly purpose will increase clients because customers who live far from showroom can also approach
                    and car can be delivered at his/her doorstep. In this Project used Technology for frontend HTML5, CSS3, JavaScript, Bootstrap and Backend used are Python Django & SQLite.</p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Banner Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row mx-0">
            <div class="col-lg-6 px-0">
                <div class="px-5 bg-secondary d-flex align-items-center justify-content-between" style="height: 350px;">
                    <img class="img-fluid flex-shrink-0 ml-n5 w-50 mr-4" src="{% static 'img/banner-left.png' %}"
                         alt="">
                    <div class="text-right">
                        <h3 class="text-uppercase text-light mb-3">Want to be driver?</h3>
                        <p class="mb-4">Lorem justo sit sit ipsum eos lorem kasd, kasd labore</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 px-0">
                <div class="px-5 bg-dark d-flex align-items-center justify-content-between" style="height: 350px;">
                    <div class="text-left">
                        <h3 class="text-uppercase text-light mb-3">Looking for a car?</h3>
                        <p class="mb-4">Lorem justo sit sit ipsum eos lorem kasd, kasd labore</p>
                    </div>
                    <img class="img-fluid flex-shrink-0 mr-n5 w-50 ml-4" src="{% static 'img/banner-right.png' %}"
                         alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->


<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="owl-carousel vendor-carousel">
            <div class="bg-light p-4">
                <img src="{% static 'img/vendor-1.png' %}" alt="">
            </div>
            <div class="bg-light p-4">
                <img src="{% static 'img/vendor-2.png' %}" alt="">
            </div>
            <div class="bg-light p-4">
                <img src="{% static 'img/vendor-3.png' %}" alt="">
            </div>
            <div class="bg-light p-4">
                <img src="{% static 'img/vendor-4.png' %}" alt="">
            </div>
            <div class="bg-light p-4">
                <img src="{% static 'img/vendor-5.png' %}" alt="">
            </div>
            <div class="bg-light p-4">
                <img src="{% static 'img/vendor-6.png' %}" alt="">
            </div>
            <div class="bg-light p-4">
                <img src="{% static 'img/vendor-7.png' %}" alt="">
            </div>
            <div class="bg-light p-4">
                <img src="{% static 'img/vendor-8.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->

{% endblock %}