{% extends 'base.html' %}
{% block main %}
{% load static %}

<!-- Page Header Start -->
<div class="container-fluid page-header" xmlns="http://www.w3.org/1999/html">
    <h1 class="display-3 text-uppercase text-white mb-3">Car Detail</h1>
    <div class="d-inline-flex text-white">
        <h6 class="text-uppercase m-0"><a class="text-white" href="{% url 'userindex' %}">Home</a></h6>
        <h6 class="text-body m-0 px-3">/</h6>
        <h6 class="text-uppercase text-body m-0">Car Detail</h6>
    </div>
</div>
<!-- Page Header Start -->

<!-- Detail Start -->
<div class="container-fluid pt-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-8 mb-5">
                <h1 class="display-4 text-uppercase mb-5">
                    {{vehicle.VehiclesBrand.BrandName}},{{vehicle.VehiclesTitle}}</h1>
                <div class="row pt-2">
                    <div class="col-md-3 col-6 mb-2">
                        <i class="fa fa-car text-primary mr-2"></i>
                        <span>Model: {{vehicle.ModelYear}}</span>
                    </div>
                    <div class="col-md-3 col-6 mb-2">
                        <i class="fa fa-cogs text-primary mr-2"></i>
                        <span>Fuel Type : {{vehicle.FuelType}}</span>
                    </div>
                    <div class="col-md-3 col-6 mb-2">
                        <i class="fa fa-road text-primary mr-2"></i>
                        <span>Capacity : {{vehicle.SeatingCapacity}} Seat</span>
                    </div>
                    <div class="col-md-3 col-6 mb-2">
                        <i class="fa fa-eye text-primary mr-2"></i>
                        <span>Price : {{vehicle.PricePerDay}}/day</span>
                    </div>
                </div>
                <div class="row mx-n2 mb-3">
                    <div class="col-md-3 col-6 px-2 pb-2">
                        <img class="img-fluid w-100" src="{{vehicle.Vimage1.url}}" style="width: 100%; height: 150px;">
                    </div>
                    <div class="col-md-3 col-6 px-2 pb-2">
                        <img class="img-fluid w-100" src="{{vehicle.Vimage2.url}}" style="width: 100%; height: 150px;">
                    </div>
                    <div class="col-md-3 col-6 px-2 pb-2">
                        <img class="img-fluid w-100" src="{{vehicle.Vimage3.url}}" style="width: 100%; height: 150px;">
                    </div>
                    <div class="col-md-3 col-6 px-2 pb-2">
                        <img class="img-fluid w-100" src="{{vehicle.Vimage4.url}}" style="width: 100%; height: 150px;">
                    </div>
                </div>
                <div class="container-fluid">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Overview</a></li> &nbsp;&nbsp;&nbsp;
                        <li><a data-toggle="tab" href="#menu1">Accessories</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <h3>Vehicles Overview</h3>
                            <p>{{vehicle.VehiclesOverview}}</p>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <h3>Accessories</h3>
                            <table>

                                <tbody>
                                <tr>
                                    <td>Air Conditioner</td>
                                    {% if vehicle.AirConditioner == 'yes' %}
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    {% else %}
                                    <td><i class="fa fa-close" aria-hidden="true"></i></td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>AntiLock Braking System</td>
                                    {% if vehicle.AntiLockBrakingSystem == 'yes' %}
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    {% else %}
                                    <td><i class="fa fa-close" aria-hidden="true"></i></td>
                                    {% endif %}
                                </tr>

                                <tr>
                                    <td>Power Steering</td>
                                    {% if vehicle.PowerSteering == 'yes' %}
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    {% else %}
                                    <td><i class="fa fa-close" aria-hidden="true"></i></td>
                                    {% endif %}
                                </tr>


                                <tr>
                                    <td>Power Windows</td>
                                    {% if vehicle.PowerWindows == 'yes' %}
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    {% else %}
                                    <td><i class="fa fa-close" aria-hidden="true"></i></td>
                                    {% endif %}
                                </tr>

                                <tr>
                                    <td>CD Player</td>
                                    {% if vehicle.CDPlayer == 'yes' %}
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    {% else %}
                                    <td><i class="fa fa-close" aria-hidden="true"></i></td>
                                    {% endif %}
                                </tr>

                                <tr>
                                    <td>Leather Seats</td>
                                    {% if vehicle.LeatherSeats == 'yes' %}
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    {% else %}
                                    <td><i class="fa fa-close" aria-hidden="true"></i></td>
                                    {% endif %}
                                </tr>

                                <tr>
                                    <td>Central Locking</td>
                                    {% if vehicle.CentralLocking == 'yes' %}
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    {% else %}
                                    <td><i class="fa fa-close" aria-hidden="true"></i></td>
                                    {% endif %}
                                </tr>

                                <tr>
                                    <td>Power Door Locks</td>
                                    {% if vehicle.PowerDoorLocks == 'yes' %}
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    {% else %}
                                    <td><i class="fa fa-close" aria-hidden="true"></i></td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>Brake Assist</td>
                                    {% if vehicle.BrakeAssist == 'yes' %}
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    {% else %}
                                    <td><i class="fa fa-close" aria-hidden="true"></i></td>
                                    {% endif %}
                                </tr>

                                <tr>
                                    <td>Driver Airbag</td>
                                    {% if vehicle.DriverAirbag == 'yes' %}
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    {% else %}
                                    <td><i class="fa fa-close" aria-hidden="true"></i></td>
                                    {% endif %}
                                </tr>

                                <tr>
                                    <td>Passenger Airbag</td>
                                    {% if vehicle.PassengerAirbag == 'yes' %}
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    {% else %}
                                    <td><i class="fa fa-close" aria-hidden="true"></i></td>
                                    {% endif %}
                                </tr>

                                <tr>
                                    <td>Crash Sensor</td>
                                    {% if vehicle.CrashSensor == 'yes' %}
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    {% else %}
                                    <td><i class="fa fa-close" aria-hidden="true"></i></td>
                                    {% endif %}
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

                <div class="col-lg-4 mb-5">
                    <form method="post">
                        {% csrf_token %}
                        <div class="bg-secondary p-5">
                            <h3 class="text-primary text-center mb-4">Book Now</h3>

                            <div class="form-group">
                                <div class="date" data-target-input="nearest">
                                    <input type="date" name="FromDate" class="form-control p-4 datetimepicker-input"
                                           placeholder="From Date"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="date" id="date1" data-target-input="nearest">
                                    <input type="date" name="ToDate" class="form-control p-4 datetimepicker-input"
                                           placeholder="To Date"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                            <textarea type="text" name="message" class="form-control p-4" placeholder="Message..."
                                      required></textarea>
                            </div>
                            <div class="form-group mb-0">
                                <a href="{% url 'user_login' %}" class="btn btn-primary btn-block"
                                   style="height: 50px;">Login
                                    for Book</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Detail End -->


    <!-- Related Car Start -->
    <div class="container-fluid pb-5">
        <div class="container pb-5">
            <h2 class="mb-4">Related Cars</h2>
            <div class="row">
            {% for i in similarvehicle %}
            <div class="col-lg-4 col-md-6 mb-2">
                <a href="{% url 'carDetails' i.id %}">
                <div class="rent-item mb-4">
                    <img class="img-fluid mb-4" src="{{i.Vimage1.url}}" width="100%" height="150px" alt="">
                    <h4 class="text-uppercase mb-4">{{i.VehiclesTitle}}</h4>
                    <div class="d-flex justify-content-center mb-4">
                        <div class="px-2">
                            <i class="fa fa-car text-primary mr-1"></i>
                            <span>{{i.ModelYear}}Model</span>
                        </div>
                        <div class="px-2 border-left border-right">
                            <i class="fa fa-cogs text-primary mr-1"></i>
                            <span>{{i.FuelType}}</span>
                        </div>
                        <div class="px-2">
                            <i class="fa fa-road text-primary mr-1"></i>
                            <span>{{i.SeatingCapacity}}Seater</span>
                        </div>
                    </div>
                    <a class="btn btn-primary px-3" href="">{{i.PricePerDay}} Rs./Day</a>
                </div>
                </a>
            </div>
           {% endfor %}
        </div>

        </div>
    </div>
    <!-- Related Car End -->

    {% endblock %}