{% extends 'adminNavbar.html' %}
{% block main %}
{% load static %}

<section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
         <div class="box-header">
           <h3 class="box-title"><i class="fa fa-cab"></i> Update Password</h3>
             <form method="post" name="changepassword" onsubmit="return checkpassword()">
            {% csrf_token %}
              <div class="modal-body mt-3">
                  <div class="box box-primary">
                    <div class="box-body">

                      <div class="form-group">
                        <label>Current Password</label>
                        <input type="password" name="oldpassword" class="form-control" required>
                      </div>

                      <div class="form-group">
                        <label>New Password</label>
                        <input type="password" name="newpassword" class="form-control" required>
                      </div>

                      <div class="form-group">
                        <label>Confirm password</label>
                        <input type="password" name="confirmpassword" class="form-control" required>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </form>
         </div>
        </div>
      </div>
    </div>
</section>

<script>
    function checkpassword(){
    if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value){
    alert('New Password and Confirm Password field does not Match');
    document.changepassword.confirmpassword.focus();
    return false;
    }
    return true;
    }
</script>

{% if error == "no" %}
<script>
    alert('Password Changed successfully');
    window.location=('{% url 'logout' %}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something went wrong , try again later');
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert('Your current password is wrong');
</script>
{% endif %}

{% endblock %}