{% extends 'adminNavbar.html' %}
{% block main %}
{% load static %}

<section class="content-header">
    <h1 align="center">
       <i class="fa fa-cab"></i> Update Vehicle
        <small></small>
    </h1>
</section>

<section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
         <div class="box-header">
           <h3 class="box-title"><i class="fa fa-cab"></i> Update Vehicle</h3>
             <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
              <div class="modal-body">
                  <div class="box box-primary">
                    <div class="box-body">

                     <div class="row">
                       <div class="form-group col-lg-6">
                         <label>Vehicle Title</label>
                         <input type="text" name="VehiclesTitle" class="form-control" value="{{vehicle.VehiclesTitle}}">
                       </div>

                       <div class="form-group col-lg-6">
                        <label>Brand</label>
                           <select name="VehiclesBrand" class="form-control" id="VehiclesBrand">
                               <option value="{{vehicle.VehiclesBrand.id}}">{{vehicle.VehiclesBrand.BrandName}}</option>
                               {% for i in brands %}
                               <option value="{{i.id}}">{{i.BrandName}}</option>
                               {% endfor %}
                           </select>
                       </div>
                     </div>

                     <div class="row">
                        <div class="form-group col-lg-12">
                             <label>Vehical Overview</label>
                             <textarea name="VehiclesOverview" class="form-control">{{vehicle.VehiclesOverview}}</textarea>
                        </div>
                     </div>

                     <div class="row">
                       <div class="form-group col-lg-6">
                         <label>Price Per Day(In Rs.)</label>
                         <input type="text" name="PricePerDay" class="form-control" value="{{vehicle.PricePerDay}}">
                       </div>

                       <div class="form-group col-lg-6">
                        <label>Select Fuel Type</label>
                        <select name="FuelType" class="form-control">
                            <option value="{{vehicle.FuelType}}">{{vehicle.FuelType}}</option>
                            <option value="Petrol">Petrol</option>
                            <option value="Diesel">Diesel</option>
                            <option value="CNG">CNG</option>
                        </select>
                       </div>
                     </div>

                     <div class="row">
                       <div class="form-group col-lg-6">
                         <label>Model Year</label>
                         <input type="text" name="ModelYear" class="form-control" value="{{vehicle.ModelYear}}">
                       </div>

                       <div class="form-group col-lg-6">
                        <label>Seating Capacity</label>
                        <input type="text" name="SeatingCapacity" class="form-control" value="{{vehicle.SeatingCapacity}}">
                       </div>
                     </div>

                     <h4 style="color: red">Upload Images</h4>
                     <br>
                     <div class="row">
                       <div class="form-group col-lg-3">
                         <label>Image 1</label>
                         <input type="file" name="Vimage1" class="form-control">
                       </div>
                       <div class="form-group col-lg-3">
                         <img src="{{vehicle.Vimage1.url}}" name="Vimage1" height="100" width="100">
                       </div>

                       <div class="form-group col-lg-3">
                         <label>Image 2</label>
                         <input type="file" name="Vimage2" class="form-control">
                       </div>
                       <div class="form-group col-lg-3">
                         <img src="{{vehicle.Vimage2.url}}" name="Vimage2" height="100" width="100">
                       </div>

                       <div class="form-group col-lg-3">
                         <label>Image 3</label>
                         <input type="file" name="Vimage3" class="form-control">
                       </div>
                       <div class="form-group col-lg-3">
                         <img src="{{vehicle.Vimage3.url}}" name="Vimage3" height="100" width="100">
                       </div>

                       <div class="form-group col-lg-3">
                         <label>Image 4</label>
                         <input type="file" name="Vimage4" class="form-control">
                       </div>
                       <div class="form-group col-lg-3">
                         <img src="{{vehicle.Vimage4.url}}" name="Vimage4" height="100" width="100">
                       </div>

                       <div class="form-group col-lg-3">
                         <label>Image 5</label>
                         <input type="file" name="Vimage5" class="form-control">
                       </div>
                       <div class="form-group col-lg-3">
                         <img src="{{vehicle.Vimage5.url}}" name="Vimage5" height="100" width="100">
                       </div>
                     </div>


                    <h4 style="color: red">Accessories</h4>
                     <br>
                     <div class="row">
                       {% if vehicle.AirConditioner == "yes" %}
                       <div class="input-checkbox col-lg-3">
                           <label class="label-checkbox">
                            <input type="checkbox" name="AirConditioner" id="AirConditioner" checked value="yes">
                            <span>Air Conditioner</span>
                           </label>
                       </div>
                       {% else %}
                       <div class="input-checkbox col-lg-3">
                           <label class="label-checkbox">
                            <input type="checkbox" name="AirConditioner" id="AirConditioner" value="yes">
                            <span>Air Conditioner</span>
                           </label>
                       </div>
                       {% endif %}

                       {% if vehicle.PowerDoorLocks == "yes" %}
                       <div class="input-checkbox col-lg-3">
                           <label class="label-checkbox">
                            <input type="checkbox" name="PowerDoorLocks" id="PowerDoorLocks" checked value="yes">
                            <span>Power Door Locks</span>
                           </label>
                       </div>
                       {% else %}
                       <div class="input-checkbox col-lg-3">
                           <label class="label-checkbox">
                            <input type="checkbox" name="PowerDoorLocks" id="PowerDoorLocks" value="yes">
                            <span>Power Door Locks</span>
                           </label>
                       </div>
                       {% endif %}

                       {% if vehicle.AntiLockBrakingSystem == "yes" %}
                       <div class="input-checkbox col-lg-3">
                           <label class="label-checkbox">
                            <input type="checkbox" name="AntiLockBrakingSystem" id="AntiLockBrakingSystem" checked value="yes">
                            <span>AntiLock Braking System</span>
                           </label>
                       </div>
                       {% else %}
                       <div class="input-checkbox col-lg-3">
                           <label class="label-checkbox">
                            <input type="checkbox" name="AntiLockBrakingSystem" id="AntiLockBrakingSystem" value="yes">
                            <span>AntiLock Braking System</span>
                           </label>
                       </div>
                       {% endif %}

                       {% if vehicle.BrakeAssist == "yes" %}
                       <div class="input-checkbox col-lg-3">
                           <label class="label-checkbox">
                            <input type="checkbox" name="BrakeAssist" id="BrakeAssist" checked value="yes">
                            <span>Brake Assist</span>
                           </label>
                       </div>
                       {% else %}
                       <div class="input-checkbox col-lg-3">
                           <label class="label-checkbox">
                            <input type="checkbox" name="BrakeAssist" id="BrakeAssist" value="yes">
                            <span>Brake Assist</span>
                           </label>
                       </div>
                       {% endif %}
                     </div>

                     <div class="row">
                       {% if vehicle.PowerSteering == "yes" %}
                       <div class="input-checkbox col-lg-3">
                           <label class="label-checkbox">
                            <input type="checkbox" name="PowerSteering" id="PowerSteering" value="yes">
                            <span>Power Steering</span>
                           </label>
                       </div>
                       {% else %}
                       <div class="input-checkbox col-lg-3">
                           <label class="label-checkbox">
                            <input type="checkbox" name="PowerSteering" id="PowerSteering" value="yes">
                            <span>Power Steering</span>
                           </label>
                       </div>
                       {% endif %}

                       {% if vehicle.DriverAirbag == "yes" %}
                       <div class="input-checkbox col-lg-3">
                           <label class="label-checkbox">
                            <input type="checkbox" name="DriverAirbag" id="DriverAirbag" checked value="yes">
                            <span>Driver Airbag</span>
                           </label>
                       </div>
                       {% else %}
                       <div class="input-checkbox col-lg-3">
                           <label class="label-checkbox">
                            <input type="checkbox" name="DriverAirbag" id="DriverAirbag" value="yes">
                            <span>Driver Airbag</span>
                           </label>
                       </div>
                       {% endif %}

                       {% if vehicle.PassengerAirbag == "yes" %}
                       <div class="input-checkbox col-lg-3">
                           <label class="label-checkbox">
                            <input type="checkbox" name="PassengerAirbag" id="PassengerAirbag" checked value="yes">
                            <span>Passenger Airbag</span>
                           </label>
                       </div>
                       {% else %}
                       <div class="input-checkbox col-lg-3">
                           <label class="label-checkbox">
                            <input type="checkbox" name="PassengerAirbag" id="PassengerAirbag" value="yes">
                            <span>Passenger Airbag</span>
                           </label>
                       </div>
                       {% endif %}

                       {% if vehicle.PowerWindows == "yes" %}
                       <div class="input-checkbox col-lg-3">
                           <label class="label-checkbox">
                            <input type="checkbox" name="PowerWindows" id="PowerWindows" checked value="yes">
                            <span>Power Windows</span>
                           </label>
                       </div>
                       {% else %}
                       <div class="input-checkbox col-lg-3">
                           <label class="label-checkbox">
                            <input type="checkbox" name="PowerWindows" id="PowerWindows" value="yes">
                            <span>Power Windows</span>
                           </label>
                       </div>
                       {% endif %}
                     </div>

                     <div class="row">
                       {% if vehicle.CDPlayer == "yes" %}
                       <div class="input-checkbox col-lg-3">
                           <label class="label-checkbox">
                            <input type="checkbox" name="CDPlayer" id="CDPlayer" checked value="yes">
                            <span>CD Player</span>
                           </label>
                       </div>
                       {% else %}
                       <div class="input-checkbox col-lg-3">
                           <label class="label-checkbox">
                            <input type="checkbox" name="CDPlayer" id="CDPlayer" value="yes">
                            <span>CD Player</span>
                           </label>
                       </div>
                       {% endif %}

                       {% if vehicle.CentralLocking == "yes" %}
                       <div class="input-checkbox col-lg-3">
                           <label class="label-checkbox">
                            <input type="checkbox" name="CentralLocking" id="CentralLocking" checked value="yes">
                            <span>Central Locking</span>
                           </label>
                       </div>
                       {% else %}
                       <div class="input-checkbox col-lg-3">
                           <label class="label-checkbox">
                            <input type="checkbox" name="CentralLocking" id="CentralLocking" value="yes">
                            <span>Central Locking</span>
                           </label>
                       </div>
                       {% endif %}

                       {% if vehicle.CrashSensor == "yes" %}
                       <div class="input-checkbox col-lg-3">
                           <label class="label-checkbox">
                            <input type="checkbox" name="CrashSensor" id="CrashSensor" checked value="yes">
                            <span>Crash Sensor</span>
                           </label>
                       </div>
                       {% else %}
                       <div class="input-checkbox col-lg-3">
                           <label class="label-checkbox">
                            <input type="checkbox" name="CrashSensor" id="CrashSensor" value="yes">
                            <span>Crash Sensor</span>
                           </label>
                       </div>
                       {% endif %}

                       {% if vehicle.LeatherSeats == "yes" %}
                       <div class="input-checkbox col-lg-3">
                           <label class="label-checkbox">
                            <input type="checkbox" name="LeatherSeats" id="LeatherSeats" checked value="yes">
                            <span>Leather Seats</span>
                           </label>
                       </div>
                       {% else %}
                       <div class="input-checkbox col-lg-3">
                           <label class="label-checkbox">
                            <input type="checkbox" name="LeatherSeats" id="LeatherSeats" value="yes">
                            <span>Leather Seats</span>
                           </label>
                       </div>
                       {% endif %}
                     </div>

                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </form>
         </div>
        </div>
      </div>
    </div>
</section>

{% if error == "no" %}
<script>
    alert('Vehicle Details has been Updated');
    window.location=('{% url 'manageVehicle' %}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something Went Wrong. Please try again');
</script>
{% endif %}

{% endblock %}